+e("h1").title Айтишники в восторге
+e.list
	each item in testimonials
		+e.item
			+e.name= item.name
			+e.company= item.company
			+e.image= item.image
			+e.date= item.date
			+e.socialLink= item.socialLink
			+e.text= item.text
			
