+e("h1").name Подай заявку на участие в своем городе
	+e.list
	each item in cities
		+e.item
			+e.item-container
				+e.name= item.name
				+e.tags= item.tags
					+e("a").item-tag(href="#")= item.tag
