+e("h1").name Новости
	+e.nav-item
		.nav__arrow-left(src="#" alt="")
		.nav__arrow-right(src="#" alt="")
		.navs__dots(src="#" alt="")
			+e.list
				+e.item
					+e("h2").item-name
					+e.item-data
					+e("h3").header
					+e("h3").header-description
+e("button").see-all.close(href="#" type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
