+e("h1").name Новости
	+e.nav-item
		.nav__arrow-left(src="#" alt="")
		.nav__arrow-right(src="#" alt="")
		.navs__dots(src="#" alt="")
			+e.list
				each item in news
					+e.item
						+e("h2").item-name= item.name
						+e.item-data= iten.data
						+e("h3").header= item.header
						+e("h3").header-description= item.header-description
+e("button").see-all.close(href="#" type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
