+e("h1").name Календарь событий 
+e.list
	each item in calendar
		+e.item
			+e.name= item.name
			+e.data= item.data
			+e.news-name= item.news-name
			+e.news-description= item.news-description
			
		
+e("button").news-see__all.close(href="#" type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
