+e("h1").calendar__name Календарь событий 
+e.list
	+e.item
		+e("h2").item-name
		+e.item-data
		+e("h3").news-name
		+e("h3").news-description
+e("button").news-see__all.close(href="#" type="button" data-dismiss="modal" aria-hidden="true") Смотреть все события
