+e.section-name Стань частью события!
	+e.form__company-name Компания
		+e("input")("text" name="name" size="27" maxlength="10")
	+e("label").form__user-name Имя
		+e("input")("text" name="name" size="27" maxlength="10")
	+e("label").form__user-phone Phone
		+e("input")(type="" name="" value="")+38 (0XX) XXX - XX - XX
	+e("label").form__user-email E-mail
		+e("input")(type="" name="" value="")
		+e("input")(type="radio" name="answer" value="") У нас есть команда
		+e("button").form__deal-button(type="button" data-dismiss="modal" aria-hidden="true") СТАТЬ ПАРТНЕРОМ
		+e("h3").form__info Ваши данные никогда не будут переданы 3-м лицам.
